# Ignore virtual environment
venv/

# Ignore Python cache files and directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore the API credentials file
secret.json
config.py

# Ignore temporary files
*.log
*.tmp
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db
